<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gereedschap App</title>
<link rel="stylesheet" href="/style2.css">
<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="navbar">
  <div>Share Tools</div>
  <div>
    <a href="#">Lenen</a>
    <a href="#">Help</a>
    <a href="./mijnaccount">profiel</a>
    <a href="./login">{{user.name}}</a>
  </div>
</div>

</head>
<body>
{{> header}}

<div class="everything">
<div class="container mt-5">
    <div class="header-text">
        <h1>Mijn tools</h1>
        <p>Bekijk nu verschillende soorten gereedschappen in uw inventaris.</p>
    </div>

<div class="col-md-4">
        <a class="green-plus" href="/Tooltoevoegen">Nieuwe tool toevoegen</a>
</div>
</div>
        <div style="margin-bottom: 20px;"></div>

       <div class="grid" id="productGrid">
    {{#each products}}
    <div class="product" data-product-id="{{id}}" onmouseover="highlightProduct(this)" onmouseleave="removeHighlight(this)">
        <img src="{{imageURL}}" alt="Tool Image">
        <h2>{{title}}</h2>
        <p>Beschikbaarheid: {{status}}</p>
        <p>{{beschrijving}}</p>
        <div class="delete-button">
            
            </button>
        </div>
    </div>
    {{/each}}
</div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#successMessage').fadeOut('slow');
        }, 3000); // 3000 milliseconden = 3 seconden
    });


    document.addEventListener("DOMContentLoaded", function() {
        // Select all elements with the class 'product-status'
        let status = document.querySelectorAll('.product-status');

        // Iterate over each element and change the color based on the content
        status.forEach(function(element) {
                var statusText = element.textContent.trim();

            // Apply different colors based on the status text
            switch (statusText) {
                case 'Beschikbaar':
                    element.style.color = '#3FA85C';
                    element.style.backgroundColor = 'rgb(63, 168, 92, 20%)';
                    break;
                case 'Niet beschikbaar':
                    element.style.color = '#5980BC';
                    element.style.backgroundColor = 'rgb(89, 128, 188, 20%)';
                    break;
                case 'Huidige status':
                    element.style.color = '#613FA8';
                    element.style.backgroundColor = 'rgb(97, 63, 168, 20%)';
                    break;
                default:
                    element.style.color = '#333333';
                    element.style.backgroundColor = 'rgb(55, 55, 55, 20%)';
                    break;
                }
            });
        });

</script>
<script src="/script.js"></script>

  </body>
</html>