<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gereedschap App</title>
<link rel="stylesheet" href="/style2.css">
<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="navbar">
  <div>Share Tools</div>
  <div>
    <a href="#">Lenen</a>
    <a href="#">Help</a>
    <a href="./login">{{name}}</a>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="header-text">
                <h1>Gereedschap</h1>
                <p>"Bekijk nu verschillende soorten gereedschappen bij u in de buurt"</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="green-plus">
                <span><a href="/Tooltoevoegen">+</a></span>
            </div>
        </div>
    </div>
</div>

<div id="successMessage" style="align-items: center; color: white; justify-content: center; display: flex; background-color: green;">
    {{ message }}
</div>

<div class="grid">
    {{#each products}}
        <div class="product">
            <h2>{{title}}</h2>
            <p>Beschikbaarheid: {{status}}</p>
            <p>{{beschrijving}}</p>
             <div class="delete-button">
            <button class="delete-btn">
            <i class="fas fa-trash-alt"></i>
            </button>
            </div>
        </div>
    {{/each}}
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // JavaScript om bericht na 3 seconden te verbergen
    $(document).ready(function() {
        // Verberg het succesbericht na 3 seconden
        setTimeout(function() {
            $('#successMessage').fadeOut('slow');
        }, 3000); // 3000 milliseconden = 3 seconden
    });
</script>

<script src="script.js" defer></script>
</body>
</html>