<!DOCTYPE html>
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/tooltoevoegen.css"> 
  <link rel="stylesheet" href="/header.css">
  <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png"> 
  <title>Share Tools</title> 
</head> 

<body>

{{> header}}

<div class="toevoegen-container">
    <button type="button" class="btn-terug" data-product-id="{{product.ID}}">🞀</button>


<form action="/tools/editToolById/{{product.ID}}" method="POST">
    <div class="left">
        <input type="file" id="imageUpload" name="image" accept="image/*">
        <img src="/img/GereedschapToevoegenAchtergrond.png" class="toevoegen-image">
        

        <label for="floatingInputTitle" style="font-weight: 600">Titel</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputTitle" name="title" placeholder="Titel Tool" value="{{product.title}}">
            <label for="floatingInputTitle">Voer een titel voor het gereedschap in</label>
        </div>

       <label for="floatingfloatingInputCategory" style="font-weight: 600">Categorie</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputCategory" name="category" placeholder="Categorie"  value="{{product.categorie}}">
            <label for="floatingInputCategory">Voer een categorie in</label>
        </div>
      
        </div>

    <div class="right">
      <label for="floatingSelect" style="font-weight: 600">Afmetingen</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="afmetingen">
                <option value="Klein/Groot" {{#ifEquals product.afmeting "Klein/Groot"}}selected{{/ifEquals}}>Klein / Groot</option>
                <option value="Klein" {{#ifEquals product.afmeting "Klein"}}selected{{/ifEquals}}>Klein</option>
                <option value="Groot" {{#ifEquals product.afmeting "Groot"}}selected{{/ifEquals}}>Groot</option>
            </select>
        <label for="floatingSelect">Kies een afmeting</label>
      </div> 

        <label for="floatingSelectStatus" style="font-weight: 600">Status</label>
        <div class="form-floating">
            <select class="form-select" id="floatingSelectStatus" aria-label="Floating label select example" name="beschikbaarheid">
                <option value="Huidige status" {{#ifEquals product.status "Huidige status"}}selected{{/ifEquals}}>Huidige status</option>
                <option value="Beschikbaar" {{#ifEquals product.status "Beschikbaar"}}selected{{/ifEquals}}>Beschikbaar</option>
                <option value="Niet beschikbaar" {{#ifEquals product.status "Niet Beschikbaar"}}selected{{/ifEquals}}>Niet beschikbaar</option>
            </select>
         <label for="floatingSelectStatus">Kies een status</label>
        </div>

        <label for="floatingSelect" style="font-weight: 600">Favoriet</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="favoriet">
                <option value="0" {{#ifEquals product.favoriet "0"}}selected{{/ifEquals}}>Favoriet / Niet favoriet</option>
                <option value="1" {{#ifEquals product.favoriet "1"}}selected{{/ifEquals}}>Favoriet</option>
                <option value="0" {{#ifEquals product.favoriet "0"}}selected{{/ifEquals}}>Niet favoriet</option>
            </select>
        <label for="floatingSelect">Kies of je deze tool als favoriet wilt hebben</label>
      </div> 

      <label for="floatingSelect" style="font-weight: 600">Publiek</label>
      <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="publiek">
                <option value="Publiek/Nietpubliek" {{#ifEquals product.publiek "Publiek/Nietpubliek"}}selected{{/ifEquals}}>Publiek / Niet publiek</option>
                <option value="Publiek" {{#ifEquals product.publiek "Publiek"}}selected{{/ifEquals}}>Publiek</option>
                <option value="Niet publiek" {{#ifEquals product.publiek "Niet publiek"}}selected{{/ifEquals}}>Niet publiek</option>
            </select>
        <label for="floatingSelect">Kies of je deze tool publiek wilt maken</label>
      </div> 

      <label for="floatingInputLocation" style="font-weight: 600">Locatie</label>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputLocation" name="location" placeholder="Locatie" value="{{product.locatie}}">
            <label for="floatingInputLocation">Voer een locatie in</label>
        </div>

      <label for="floatingTextarea" style="font-weight: 600">Beschrijving</label>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" name="description" placeholder="Beschrijving" style="height: 198px">{{product.beschrijving}}</textarea>
            <label for="floatingTextarea">Beschrijf de specificaties van het product</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn-dark">Opslaan</button>
    </div>
    
    
</form>    

  </div>
  <script>
      function goToProductPage(id) {
    window.location.href = "/tools/product/" + id;
    }

document.addEventListener('DOMContentLoaded', function() {
    const editButton = document.querySelector('.btn-terug');
    if (editButton) {
      editButton.addEventListener('click', function() {
        const productIdForEdit = this.getAttribute('data-product-id');
        goToProductPage(productIdForEdit);
      });
    }
  });
  </script>
  </body>
</html>
